<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint name="CustomerServiceEndPoint" address="http://localhost:12666/CustomerService.svc" binding="wsHttpBinding" contract="Try4Real.EndPoint.Contracts.Services.ICustomerService" />
      
      <endpoint name="OrderServiceEndPoint" address="http://localhost:12666/OrderService.svc" binding="wsHttpBinding" contract="Try4Real.EndPoint.Contracts.Services.IOrderService" />
      
      <endpoint name="ProductServiceEndPoint" address="http://localhost:12666/ProductService.svc" binding="wsHttpBinding" contract="Try4Real.EndPoint.Contracts.Services.IProductService" />
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="Binding_ICustomerService" />
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>